<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_AFS.Properties.Settings.db_afsConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Emin\Source\Repos\db-afs\DB_AFS\DB_AFS\Database\db-afs.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <!--<connectionStrings>
    <add name="DB_AFS.Properties.Settings.db_afsConnectionString"
        connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\02_C#_WORKSPACE\DB-AFS\DB_AFS\DB_AFS\DATABASE\DB-AFS.MDF;Integrated Security=True;Connect Timeout=30"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>